@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a;
}
